
{% extends "base.html" %}
{% block content %}
{% include "header.html" %}





<div class="container">
  <div class="row">
    <div class="col-md-6">

      <h1>Categories</h1>

      {% for i in categories %}
      <div>
      <p>
      <a href='{{url_for('showItems', category_name = i.name) }}'> {{i.name}} </a>
      </p>
      </div>
      {% endfor %}

    </div>

    <div class="col-md-6">

      <h1> Recent Items </h1>

      {% for i in items %}
      <div>
      <p>
      <a href='{{url_for('showItem', category_name = i.category_name, item_name = i.item_name)}}'> {{i.item_name}} </a>
      <span class="badge badge-secondary">{{i.category_name}}</span>
      </p>
      </div>
      {% endfor %}

    </div>

  </div>
</div>



<br>
<br>

<div>
<p>

<a href='{{url_for('newItem')}}'> New Item </a>

</p>
</div>

{% endblock %}
