<html>

<head>


</head>


<body><h1> Edit Item </h1>

<form action="#" method = 'POST'>

	<p>Name:</p>
		<input type ='text' size='30' name='name' placeholder = '{{item.name }}'>
	<p>Description:</p>
		<input type ='text' size='30' name='description' placeholder = '{{item.description}}'>
	<p>Category:<p>
    <select type='number' size '30' name='category'>
  		{% for i in categories %}
  				<option value="{{ i.id }}" {% if item.category_id==i.id %} selected="selected" {% endif %}>{{ i.name }}</option>
  		{% endfor %}
  	</select>

<input type='submit' value='Edit'>

<a href = '{{url_for('showItems', category_id=category_id)}}'> Cancel </a>

</form>
</body>
</html>
