{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

<br>
<br>


<div class="container" >
  <div class="row">
    <div class="col-md-3 border bg-light">

<br>

      <h4> {{category.name}} </h4>

      <br>

      {% for i in items %}

      <div>

      <p>
      <a href='{{url_for('showItem', category_name=category.name, item_name = i.name) }}'> {{i.name}} </a>
      </p>

      </div>

      {% endfor %}

    </div>


    <div class="col-md-9">

    </div>


  </div>
</div>


</body>

</html>

{% endblock %}
