{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

<br>
<br>

<h4>New Item</h4>

<br>

<form action="#" method = 'POST'>

	<p>Name:
		<input type ='text' size='30' name='name' required>
  </p>
	<p>Description:
		<input type ='text' size='30' name='description' required>
	</p>
  <p>Category:
	<select type='number' size '30' name='category' required>
		{% for i in categories %}
				<option value="{{ i.id }}">{{ i.name }}</option>
		{% endfor %}
	</select>
	</p>

<br>

<input type='submit' class="btn btn-primary" value='Create'>

<a class="btn btn-primary" href="{{url_for('showCatalog')}}" role="button">Cancel</a>


</form>

{% endblock %}
