
{% extends "base.html" %}
{% block content %}
{% include "header.html" %}

<br>
<br>




<div class="container bg-light" >
  <div class="row">
    <div class="col-md-3 border">

      <br>
      <h4>Categories</h4>

<br>

      {% for i in categories %}
      <div>
      <p>
      <a href='{{url_for('showItems', category_name = i.name) }}'> {{i.name}} </a>
      </p>
      </div>
      {% endfor %}

      <br>
    </div>



    <div class="col-md-9 border">
<br>
      <h4> Recent Items </h4>

<br>

      {% for i in items %}
    <div>
      <p>
          <a href='{{url_for('showItem', category_name = i.category_name, item_name = i.item_name)}}'> {{i.item_name}} </a>
          &nbsp
          <span class="badge badge-secondary">{{i.category_name}}</span>
      </p>
      {% endfor %}
    </div>

    </div>

  </div>
</div>

{% endblock %}
